---
import Header from '../components/Header.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "关于我";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

<body>

    <Header />


  <h1>我的 Astro 学习博客</h1>
      <ul>
           {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  <p>在这里，我将分享我的 Astro 学习之旅。</p>
    <Footer />

     <script>
   import "../scripts/menu.js";
 </script>
</body>
</html>
