---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>……和我的新 Astro 网站！</h2>
	
  <h2>世界上一切问题总归有答案</h2>
  <p>……除非你问的问题是个谜</p>
  

    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari","日安", "欢迎", "你好", ]} />
</BaseLayout>