---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>……和我的新 Astro 网站！</h2>
		<h1>我的Astro</h1>
		<h1>我的Astro2</h1>
		<h1>我的Astro3</h1>
  <h2>我超棒的博客副标题</h2>

    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>